.codex/
.claude/
.mindfs/
.specify/
.gemini/
.DS_Store
Thumbs.db
*.tmp
*.swp
.vscode/
.idea/
node_modules/
dist/
build/
*.log
.env*
*.exe
*.test
vendor/
*.out
design/
/mindfs
harmony/.hvigor/
harmony/.idea/
harmony/.appanalyzer/
harmony/local.properties
harmony/entry/src/main/resources/rawfile/public/
/cloud/deploy/.relay-upgrade/
